<!-- <header>
  <div class="container">
    <div id= "header-inner">
      <nav id="header-nav">
        <section id="header-logo-section">
          <img id="header-site-logo" src="train-logo.png" alt="site-logo" routerLinkActive="active" routerLink="">
          <h1 id="header-site-name">Railway Express</h1>
        </section>
        <button id="check-ticket-btn" routerLinkActive="active" routerLink="check-ticket">ბილეთის შემოწმება</button>
      </nav>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <h2 id="footer-text">Railway Express 2025 &#169;</h2>
</footer>
 -->


 <div id="wrapper">
  <header>
      <div class="container">
          <div id="header-inner">
              <nav id="header-nav">
                  <section id="header-logo-section">
                      <img id="header-site-logo" src="train-logo.png" alt="site-logo" routerLinkActive="active" routerLink="">
                      <h1 id="header-site-name">Railway Express</h1>
                  </section>
                  <button id="check-ticket-btn" routerLinkActive="active" routerLink="check-ticket">ბილეთის შემოწმება</button>
              </nav>
          </div>
      </div>
  </header>

  <main>
      <router-outlet></router-outlet>
  </main>

  <footer>
      <h2 id="footer-text">Railway Express 2025 &#169;</h2>
  </footer>
</div>

